S3method(plot,treemox)
S3method(plot,treemox.pls)
S3method(print,bootnodes)
S3method(print,treemox)
S3method(print,treemox.pls)
export(fix.pathmox)
export(fix.techmox)
export(get_fix_xexeloa)
export(get_nominal_split)
export(get_ordinal_split)
export(get_pls_basic)
export(get_xexeloa)
export(pathmox)
export(plspmox)
export(techmox)
export(test_sanchez_aluja)
export(treemox.boot)
export(treemox.pls)
